<main class="login-body" data-vide-bg="assets/img/login-bg.mp4">
    <div class="container login-container">
        <form class="form-default" #loginForm="ngForm">
            <!-- Message d'erreur -->
            <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
                <p *ngFor="let msg of errorMsg">{{msg}}</p>
              </div>

            <div class="login-form">
                <!-- Logo -->
                <div class="logo-login text-center">
                    <a routerLink="/"><img src="assets/img/logo/loder.png" alt="logo" /></a>
                </div>

                <h2 class="text-center">Login Here</h2>

                <!-- Email -->
                <div class="form-input mb-3">
                    <label for="email">Email</label>
                    <input [(ngModel)]="authRequest.email" name="email" type="email" id="email" class="form-control"
                        placeholder="Email" required />
                </div>

                <!-- Password -->
                <div class="form-input mb-3">
                    <label for="password">Password</label>
                    <input [(ngModel)]="authRequest.motDePasse" name="password" type="password" id="password"
                        class="form-control" placeholder="Password" required />
                </div>

                <!-- Submit Button -->
                <div class="form-input pt-3 mb-3">
                    <button (click)="login()" type="button" class="btn btn-primary w-100">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </button>
                </div>

                <!-- Links -->
                <div class="d-flex justify-content-between">
                    <a routerLink="/forgot-password" class="forget">Forgot Password?</a>
                    <a routerLink="/register" class="registration">Register</a>
                </div>
            </div>
        </form>
    </div>
</main>