<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Boucle ngFor pour afficher chaque post -->
      <div class="col-md-6" *ngFor="let p of listPosts">
        <div class="card card-widget">
          <div class="card-header">
            <div class="user-block">
              <img class="img-circle" src="assets/dist/img/user1-128x128.jpg" alt="User Image">
              <span class="username"><a href="#">{{ p.createdBy }}</a></span>
              <span class="description">Shared publicly {{ p.createdAt }}</span>
            </div>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" title="Mark as read">
                <i class="far fa-circle"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <img class="img-fluid pad"alt="Photo">
            <p>{{ p.title }}</p>
            <div class="attachment-block clearfix">
              <div class="attachment-pushed">
                <p>{{ p.content }}</p>
              </div>
            </div>
            <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
            <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
            <span class="float-right text-muted">{{ p.likes }} likes - {{ commentsByPostId[p.id]?.length || 0 }} comments</span>
          </div>

          <div class="card-footer card-comments">
            <!-- Boucle ngFor pour afficher les commentaires spécifiques au post -->
            <div class="card-comment" *ngFor="let comment of commentsByPostId[p.id]">
              <img class="img-circle img-sm" src="assets/dist/img/user3-128x128.jpg" alt="User Image">
              <div class="comment-text">
                <span class="username">
                  {{ comment.createdBy }}
                  <span class="text-muted float-right">{{ comment.createdAt }}</span>
                </span>
                {{ comment.description }}
              </div>
              
            <div class="d-flex justify-content-end ">
              <button 
                style="background-color: #dc3545; border: none; color: white; padding: 4px 8px; font-size: 0.85rem; border-radius: 12px;">
                🗑
              </button>
            </div>
            
            </div>
          </div>

          <div class="card-footer">
            <form action="#" method="post">
              <img class="img-fluid img-circle img-sm" src="assets/dist/img/user4-128x128.jpg" alt="Alt Text">
              <div class="img-push">
                <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
