<div class="header-area header-transparent">
    <div class="main-header ">
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a routerLink="/"><img src="../../../assets/img/logo/logogenius.png" class="logo-img"></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block ">
                                <nav>
                                    <ul id="navigation">                                                                                          
                                        <li class="active"><a style="color: black;"   routerLink="/">Home</a></li>
                                        <li><a style="color: black;"  routerLink="/courses">Courses</a></li>
                                        <li><a style="color: black;"  routerLink="/about">About</a></li>
                                        <li><a style="color: black;"  routerLink="blog">Blog</a>
                                           
                                        </li>
                                        <li><a style="color: black;"   routerLink="/contact">Contact</a></li>
                                        <li><div class="notification-icon">
                                            <i class="fas fa-bell"></i>

                                            <span class="notification-badge">3</span>
                                          </div></li>
                                        <!-- Button -->
                                        <li class="button-header margin-left"><a style="color: black;"   routerLink="/register" class="btn">Join</a></li>
                                        <li class="button-header"><a style="color: black;"  routerLink="/login" class="btn btn3">Log in</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div> 
                    <!-- Mobile Menu -->
                </div>
            </div>
        </div>
    </div>
</div>
