.events .card {
  background-color: #ffffff;
  border: none;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
  height: 500px;
  width: 5000px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.events .card-img {
  height: 250px;
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
 
}

.events .card-img img {
  height: 100%;
  width: 100%;
  
  transition: all 0.3s ease-in-out;
}

.events .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  background:#ffffff;
  border-top: 4px solid  #ffffff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

.events .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.events .card-title a {
  color: #444444;
  transition: 0.3s;
}

.events .card-text {
  color: color-mix(in srgb, #444444, transparent 30%);
}

.events .card:hover img {
  transform: scale(1.1);
}

.events .card:hover .card-body {
  border-color: #5fcf80;
}

.events .card:hover .card-body .card-title a {
  color: #5fcf80;
}
.btn-outline-primary:hover {
  background-color: #5fcf80;
  color: white;
  border-color: #5fcf80;
}
